%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-dashboard
    =link_to 'Dashboard', '/hq/dashboard.html'
  %li.launcher
    %i.icon-file-text-alt
    =link_to 'Forms', '/hq/dashboard/form.html'
  %li.launcher
    %i.icon-table
    =link_to 'Tables', '/hq/dashboard/tables.html'
  %li.launcher.dropdown.hover
    %i.icon-flag
    %a{href: '#'} Reports
    %ul.dropdown-menu
      %li.dropdown-header Launcher description
      %li
        %a{:href => '#'} Action
      %li
        %a{:href => '#'} Another action
      %li
        %a{:href => '#'} Something else here
  %li.launcher
    %i.icon-bookmark
    %a{href: '#'} Bookmarks
  %li.launcher.dropdown.hover
    %i.icon-bookmark
    %a{href: '/hq/spm'} Static Pages
    %ul.dropdown-menu
      %li.dropdown-header Content
      %li
        %a{href: '/hq/spm/static_pages'} Static Pages
      %li
        %a{href: '/hq/spm/media'} Media Manager

#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}
