=stylesheet_link_tag 'kebapage/application'

.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    Form
  .panel-body

    =simple_form_for @static_page do |f|
      .form-group
        = f.input :title, label: I18n.t('kebapage.title'), placeholder: I18n.t('kebapage.title_placeholder')

      .form-group
        = f.input :content, input_html: {class: 'wysihtml5', rows: 15}, label: I18n.t('kebapage.content'), placeholder: I18n.t('kebapage.content_placeholder')

      .form-actions
        %button.btn.btn-default{type: 'submit'} #{I18n.t('kebapage.submit')}
        %a.btn{href: static_pages_path} #{I18n.t('kebapage.cancel')}

=javascript_include_tag 'kebapage/application'
